.shoppingCart{
    margin: 50px;
    padding: 20px;
    padding-bottom: 40px;
    margin-left: 200px;
    box-sizing: border-box;
    border: 1px solid;
    width: 70%;
    height: 95%;
    border-radius: 20px;
    box-shadow: 0px 25px 40px #1687d933;
  }
  .columnLabels{
    background-color:#95DE64;
    margin: 30px 0px 30px 0px;
    padding: 30px;
    color: #FFFFFF;
  }
  .columnLabels label{
    margin: 50px;
  }
  .productImage img{
    height: 120px;
    margin-left: 10px;
  }
  .productTitle{
    margin-left: 145px;
    margin-top: -110px;
    margin-bottom: 100px;
    font-size: 21px;
    font-family: open sans;
    font-weight: 800;
    color: #202020;
    width: 200px;
  }
  .productDescription{
    margin-left: 145px;
    margin-top: -80px;
    margin-bottom: 100px;
    width: 190px;
    font-size: 18px;
    font-family: open sans;
    font-weight: 600;
    color: #909090;
  }
  .productPrice{
    margin-left: 360px;
    margin-top: -160px;
    margin-bottom: 100px;
    width: 100px;
    font-size: 20px;
    font-family: ‘Open Sans’;
  }
  .productQuantity{
    margin-left: 510px;
    margin-top: -125px;
    margin-bottom: 100px;
    width: 110px;
  }
  .productQuantity input{
    width: 50px;
    height: 30px;
    font-size: 20px;
  }
  .productRemoval{
    margin-left: 655px;
    margin-top: -130px;
    margin-bottom: 100px;
    width: 55px;
  }
  .productRemoval button{
    background-color: red;
    border-radius: 5px;
    padding: 5px;
    color: #FFFFFF;
    font-size: 14px;
    font-family:'Open Sans';
    font-weight: 600;
  }
  .productLinePrice{
    margin-left: 785px;
    margin-top: -130px;
    margin-bottom: 150px;
    font-size: 26px;
    font-family: ‘Open Sans’;
    font-weight: 800;
    color: #202020;
    width: 100px;
  }
  .totalsItem1 label{
    font-size: 21px;
    font-family: open sans;
    font-weight: 800;
    color: #202020;
    padding: 8px;
  }
  #cartSubtotal{
    margin-left: 93px;
    margin-top: -32px;
    padding-top: 8px;
    font-size: 21px;
    border: 1px solid black;
    width: 90px;
    height: 40px;
    font-family: sans-serif;
    background-color: #FFFFFF;
    text-align: center;
  }
  .totalsItem2 {
    margin-left: 210px;
    margin-top: -35px;
    font-size: 21px;
    font-family: open sans;
    font-weight: 800;
    color: #202020;
  }
  #cartDiscount{
    margin-left: 133px;
    margin-top: -30px;
    padding-top: 5px;
    font-size: 24px;
    border: 1px solid black;
    width: 90px;
    height: 40px;
    background-color: #FFFFFF;
    text-align: center;
  }
  .totalsItem3{
    margin-left: 455px;
    margin-top: -35px;
    font-size: 21px;
    font-family: open sans;
    font-weight: 800;
    color: #202020;
  }
  #cartShipping{
    margin-left: 83px;
    margin-top: -30px;
    padding-top: 5px;
    font-size: 24px;
    border: 1px solid black;
    width: 90px;
    height: 40px;
    background-color: #FFFFFF;
    text-align: center;
  }
  .totalsItem4{
    margin-left: 650px;
    margin-top: -35px;
    font-size: 21px;
    font-family: open sans;
    font-weight: 800;
    color: #202020;
  }
  #cartTotal{
    margin-left: 118px;
    margin-top: -30px;
    padding-top: 5px;
    font-size: 24px;
    border: 1px solid black;
    width: 90px;
    height: 40px;
    background-color: #FFFFFF;
    text-align: center;
  }
  .checkout button{
      background-color:#95DE64;
      margin-left: 280px;
      margin-top: 40px;
      height: 20px;
      width: 300px;
      padding: 20px;
      padding-bottom: 30px;
      text-align: center;
  }
  .checkout button:hover{
    background-color: #52C41A;
   }